//mobil version:
//text align: center; height: 100vh; font also needs to be adapt (use calc maybe..)
//absolute position

.header1 {
  @include header-height;
  width: 100vw;
  background-image: linear-gradient(
      to right bottom,
      rgba(193, 85, 85, 0.8),
      rgba(36, 2, 2, 0.8)
    ),
    url("../../mars-one-project/imgs/hero-1.png");
  background-size: cover;
  background-position: top;
  position: relative;
  overflow: hidden;

  .hero1 {
    @media (min-width: $bp-ipadmini) {
      position: relative;
      width: 150vw;
      height: 120vh;
      left: -37vw;
      top: -59vh;
      background-image: linear-gradient(
        182deg,
        #00132c 61%,
        rgba(21, 52, 98, 0.9) -13%
      );
      clip-path: ellipse(50% 50% at 50% 50%);
      transform: rotate(12deg);
    }

    &::after {
      display: none;
      @media (min-width: $bp-ipadmini) {
        content: "";
        background-color: #00132c;
        display: unset;
        position: absolute;
        background-image: linear-gradient(
          182deg,
          #00132c 61%,
          rgba(21, 52, 98, 0.9)
        );
        width: 97%;
        height: 95%;
        clip-path: ellipse(50% 50% at 50% 50%);
        left: 50%;
        top: 50%;
        transform: rotate(12deg);
        transform: translate(-50%, -50%);
      }
    }
  }

  .hero-content1 {
    //mobile first
    //width: 320+
    text-align: center;
    @include text-middle-1;
    z-index: 3;
    place-self: center;
    padding: 1em;
    font-family: "Montserrat", sans-serif;
    color: white;
    //not laptop
    border: 9px solid darkred;
    border-radius: 5px;
    outline: 7px ridge rgba(102, 142, 201, 0.51);
    outline-offset: -17px;
    background: linear-gradient(45deg, #00000052, transparent);

    @media (min-width: $bp-ipadmini) {
      top: 11vh;
      left: 50%;
      transform: translateX(-50%);
      border: unset;
      outline: unset;
      background: unset;
    }
    @media (min-width: $bp-ipad) {
      text-align: left;
      line-height: normal;
      top: 11vh;
      left: 65vw;
/*       transform: translateX(-50%) translateY(0); */
    }
    &__h1 {
      /* animation: moveInTop; */
      animation: 1s ease-out moveInTop;
      @media (min-width: $bp-ipadmini) {
        animation: unset;
      }
      padding-bottom: 1rem;
      &-break::before {
        content: " ";
        display: block;
      }
      //
      &-break {
        background-image: linear-gradient(178deg, black, #ff8f8f, transparent);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        @media (min-width: $bp-ipadmini) {
          background: unset;
          background-clip: unset;
          color: unset;
        }
      }
      //
      @media (min-width: 467px) {
        font-size: 2.7rem;
        letter-spacing: 2px;
      }
      @media (min-width: $bp-ipad) {
        font-size: 3.6rem;
      }
    }
    &__h2 {
      margin-top: 1rem;
      animation: 1s ease-out showUp;
      @media (min-width: $bp-ipadmini) {
        animation: unset;
      }
      color: $color-light-blue;
      @media (min-width: 467px) {
        letter-spacing: 2px;
        font-size: 2rem;
      }
      @media (min-width: $bp-ipadmini) {
        font-size: 2.2rem;
        &-break::before {
          content: " ";
          display: block;
        }
      }
      @media (min-width: $bp-ipadpro) {
        font-size: 2.5rem;
      }
    }
  }
}
