//total: page1 3 buttons; page3 1 button
.button {
  padding: 5px 2.8rem;
  border-radius: 5px;
  background-color: $color-white;
  color: $color-dark-blue;
  border: 1px solid $color-dark-blue;
  margin-top: 1rem;

  @media (min-width: $bp-ipad) {
    margin-top: 1rem;
    cursor: pointer;
  }
}