//font color
$color-main-dark: #061b38;
$color-white: #fff;
$color-light-blue: #436dac;
$color-red: #e32700;
$color-dark-blue: #2c4f80;
$color-footer-red: #f97c7c;
$color-bgc: #f1f1f1;
$color-black-p: #323232;

//breakpoint
$bp-iphone: 414px; //iphone 11 pro max
$bp-ipadmini: 678px;
$bp-ipad: 768px; //ipad
$bp-ipadpro: 1024px; //ipad pro
$bp-laptop: 1440px;

//font-size

$font-p-big: 1.8rem;
$font-btn: 1.4rem; //btn font-size, page 3 form title
$font-red-h3: 2.4rem; //page 2, content, page 3, after join us
$font-h: calc(7px + 1vw);
$font-p: calc(2px + 1vw);
